body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.item p {
    flex: 1;
    margin: 0;
    font-size: 16px;
    color: #333;
}


@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reverse {
        flex-direction: column;
    }

    .item img {
        width: 100%;
        max-width: 300px; 
        height: auto;
    }

    .item p {
        font-size: 14px;
    }
}